<!DOCTYPE html>
<html lang="en" ng-app="blockers">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Provided -->
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- App -->
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

    <body>

        <div class="container">

            <!-- Sign in form -->

            <div id="signin-container" ng-controller="SigninController" ng-show="!loggedIn">

                <form class="form-signin" id="signin-form">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <input type="text" class="input-block-level" placeholder="Bugzilla Username" ng-model="username">
                    <input type="password" class="input-block-level" placeholder="Bugzilla Password" ng-model="password">
                    <label class="checkbox">
                        <input type="checkbox" value="1" ng-model="rememberMe">Remember my username
                    </label>
                    <p class="text-error" ng-show="error">{{error}}</p>
                    <button class="btn btn-large btn-primary" id="signin-button" ng-click="signin()">Sign in</button>
                    <P></P>
                    <p><b>Note:</b> This application runs completely inside the browser. Your Bugzilla credentials are only sent directly to the Bugzilla API over SSL.</p>
                </form>

            </div>

            <!-- Main Page -->

            <div ng-controller="PageController" ng-show="loggedIn">

                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="brand" href="#">Project Kick-Off Status</a>
                            <div class="nav-collapse collapse">
                                <p class="navbar-text pull-right">
                                    {{username}} - <a href="#" class="navbar-link" ng-click="logout()">Logout</a>
                                </p>
                                <ul class="nav">
                                    <li class="active"><a href="#">Home</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>

                <div ng-show="loading">
                    <h3>Loading bugs .. this can take a minute</h3>
                </div>

                <div ng-show="!loading">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: filter == 'all'}"><a href="#" ng-click="filterBy('all')">All</a></li>
                        <li ng-class="{active: filter == 'privacy'}"><a href="#" ng-click="filterBy('privacy')">Blocked on Privacy</a></li>
                        <li ng-class="{active: filter == 'security'}"><a href="#" ng-click="filterBy('security')">Blocked on Security</a></li>
                        <li ng-class="{active: filter == 'legal'}"><a href="#" ng-click="filterBy('legal')">Blocked on Legal</a></li>
                        <li ng-class="{active: filter == 'data'}"><a href="#" ng-click="filterBy('data')">Blocked on Data Safety</a></li>
                        <li ng-class="{active: filter == 'finance'}"><a href="#" ng-click="filterBy('finance')">Blocked on Finance</a></li>
                    </ul>

                    <h3>Showing {{bugs.length}} open project kick-off bugs</h3>

                    <div ng-repeat="bug in bugs">
                        <h4 style="text-overflow: hidden;" class="bug-title-big"><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}" target="_blank">{{bug.summary}}</a> <span class="label label-{{bug.label}} pull-right">{{bug.age}} days</span></h4>
                        <ul style="list-style: none;">
                            <li ng-repeat="depends_on in bug.depends_on">
                                <span style="width: 30px; margin-right: 6px; text-align: center;" class="label label-{{depends_on.shortStatusColor}}">{{depends_on.shortStatus}}</span>
                                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{depends_on.id}}" target="_blank">
                                    <span class="bug-{{depends_on.status}}">{{depends_on.id}} {{depends_on.summary}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </body>

</html>
